doctype
html(lang="ru_RU")
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='imagetoolbar' content='no')
		meta(name='msthemecompatible' content='no')
		meta(name='cleartype' content='on')
		meta(name='HandheldFriendly' content='True')
		meta(name='google' value='notranslate')
		meta(name='description' content='')
		meta(name='keywords' content='')

		link(rel='shortcut icon' type='image/png' href='img/favicon.ico')
		link(rel='stylesheet' type='text/css' href='css/style.css' media='screen, projection, print')
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;subset=cyrillic" rel="stylesheet")
		

		block title
			title TITLE
			
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-B5CM');
		// End Google Tag Manager
			
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-B5CM', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
