/**** BASE ****/
$bodyFZ:16px;
$bodyLH:1.4;
$h1FZ:32;
$h2FZ:30;
$h3FZ:28;
$h1desc:20;
$h2desc:18;

/*Media*/
$lg:1200px;
$md:992px;
$sm:768px;
$sm-xs:600px;
$xs:576px;



/**** BG-COLOR ****/


/**** COLOR ****/
$footerText:#000;
